@font-face {
    font-family: 'Quiche Sans';
    src: url('FONTSPRINGDEMO-QuicheSansMediumRegular.eot');
    src: url('FONTSPRINGDEMO-QuicheSansMediumRegular.eot?#iefix') format('embedded-opentype'),
        url('FONTSPRINGDEMO-QuicheSansMediumRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-QuicheSansMediumRegular.woff') format('woff'),
        url('FONTSPRINGDEMO-QuicheSansMediumRegular.ttf') format('truetype'),
        url('FONTSPRINGDEMO-QuicheSansMediumRegular.svg#FONTSPRINGDEMO-QuicheSansMediumRegular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quiche Sans';
    src: url('FONTSPRINGDEMO-QuicheSansRegular.eot');
    src: url('FONTSPRINGDEMO-QuicheSansRegular.eot?#iefix') format('embedded-opentype'),
        url('FONTSPRINGDEMO-QuicheSansRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-QuicheSansRegular.woff') format('woff'),
        url('FONTSPRINGDEMO-QuicheSansRegular.ttf') format('truetype'),
        url('FONTSPRINGDEMO-QuicheSansRegular.svg#FONTSPRINGDEMO-QuicheSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quiche Sans';
    src: url('FONTSPRINGDEMO-QuicheSansBold.eot');
    src: url('FONTSPRINGDEMO-QuicheSansBold.eot?#iefix') format('embedded-opentype'),
        url('FONTSPRINGDEMO-QuicheSansBold.woff2') format('woff2'),
        url('FONTSPRINGDEMO-QuicheSansBold.woff') format('woff'),
        url('FONTSPRINGDEMO-QuicheSansBold.ttf') format('truetype'),
        url('FONTSPRINGDEMO-QuicheSansBold.svg#FONTSPRINGDEMO-QuicheSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

