@charset "UTF-8";

:root {
    --font-family-default: "Roboto", sans-serif;
    --font-family-title: "Barlow Condensed", sans-serif;
    --font-family-overpass: "Overpass", sans-serif;
    --font-family-roboto-condensed: "Roboto Condensed", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-quiche: "Quiche Sans";
    --font-family-sofia: "sofia-pro-soft", sans-serif;
    --font-size-default: 16px;
    --font-size-title: 18px;
    --font-color-default: #000000;
    --font-color-title: #6c757d;
    --primary-rgb: 183, 31, 55;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --default-transition: .3s cubic-bezier(.4, 0, .2, 1);
    --plyr-color-main: #FF5F05
}

.header-nav li {
    position: relative;
    display: inline-block
}

.header-nav li .sub-menu {
    list-style: none outside none;
    background: #151a1c;
    padding: 12px 0;
    position: absolute;
    width: 100%;
    min-width: 220px;
    left: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(0);
    transition: all .6s ease
}

.header-nav li .sub-menu li {
    position: relative;
    display: block
}

.header-nav li .sub-menu a {
    color: #fff;
    display: block;
    padding: 10px;
    background: #cf9d3c
}

.header-nav li .sub-menu a:hover {
    background: #000;
    color: #fff;
    text-decoration: none
}

.header-nav li .sub-menu .sub-menu {
    margin-left: calc(100% + 2px);
    top: 0;
    left: 0;
    padding-top: 0 !important;
    min-width: 15.75vw
}

.header-nav li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0)
}

body {
    font-family: var(--font-family-sofia);
    font-size: var(--font-size-default);
    background: #fff;
    color: var(--font-color-default);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a,
a:hover,
a:visited,
a:focus,
input,
input:focus,
textarea,
textarea:focus,
select:focus,
select {
    outline: none !important;
    text-decoration: none !important
}

.slick-slide {
    outline: none !important
}

.label-hide {
    display: none !important
}

div#main-wrapper {
    overflow: hidden;
    position: relative
}

body.body-overflow {
    overflow: hidden
}

.global-canvas-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.global-canvas-bg canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.global-canvas-bg.attachment-fixed canvas {
    background-attachment: fixed !important
}

header.main-header {
    z-index: 1001;
    position: fixed;
    background: #000;
    padding: 0 15px;
    width: 100%;
    left: 0;
    transition: all .3s ease-in-out
}

header.main-header:not(.sticky) {
    background: transparent
}

header.main-header .header-inner {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    transition: all .3s ease-in-out;
    padding-left: 30px;
    padding-right: 20px
}

header.main-header .header-contact-details {
    display: none
}

header.main-header .header-contact-details-wrap ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0
}

header.main-header .header-contact-details-wrap ul li a {
    color: #fff;
    font-size: 12px;
    transition: all .3s ease-in-out
}

header.main-header .header-contact-details-wrap ul li a:hover {
    color: #FF5F05
}

.header-logo a {
    display: block;
    position: relative;
    max-width: 360px;
    transition: all .3s ease-in-out
}

header.main-header.sticky .header-logo a {
    max-width: 300px
}

nav.header-nav {
    position: relative;
    text-align: center;
    margin-left: auto
}

nav.header-nav ul.header-nav {
    font-size: 0;
    position: relative;
    z-index: 5
}

nav.header-nav ul.header-nav>li {
    margin: 0 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle
}

nav.header-nav ul.header-nav>li>a {
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: var(--font-family-title);
    text-transform: uppercase;
    letter-spacing: .34em;
    padding: 33px 15px;
    display: block;
    position: relative;
    z-index: 5;
    transition: all .3s ease-in-out
}

nav.header-nav ul.header-nav>li:hover>a {
    background: #151a1c
}

nav.header-nav ul.header-nav>li:first-child {
    margin-left: 0 !important
}

nav.header-nav ul.header-nav>li:last-child {
    margin-right: 0 !important
}

nav.header-nav ul.header-nav .sub-menu a {
    color: #fff;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-family-title);
    text-align: left;
    letter-spacing: .12em;
    text-transform: uppercase;
    background: #151a1c;
    transition: all .3s ease-in-out
}

nav.header-nav ul.header-nav .sub-menu li:hover>a {
    background: #FF5F05;
    background: linear-gradient(90deg, #FF5F05, #8B2500)
}

.header-burger-menu {
    color: #fff;
    font-size: 14px;
    padding: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-left: 10px
}

.header-burger-menu em {
    display: block;
    transform: rotate(45deg)
}

.header-burger-menu:hover {
    color: #FF5F05
}

.site-offcanvas {
    overflow: hidden;
    position: relative
}

.site-offcanvas .offcanvas-backdrop {
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden
}

.site-offcanvas .offcanvas-backdrop.active {
    visibility: visible
}

.site-offcanvas .slide-menu-content {
    position: fixed;
    bottom: 0;
    right: -10%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1004;
    visibility: hidden;
    background: #000;
    transition: all .4s ease-in-out
}

.site-offcanvas .slide-menu-content.active {
    right: 0;
    opacity: 1;
    visibility: visible
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content {
    position: relative;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    padding: 0
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://cdn.agentimagehosting.com/ZwEApWI87B7AuA0VQcbb0/2025/12/17041542/bmenu-bg-comperssed.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .1
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content:before {
    content: "";
    position: absolute;
    top: 60px;
    left: 140px;
    width: 713px;
    height: 677px;
    background: url(https://cdn.agentimagehosting.com/ZwEApWI87B7AuA0VQcbb0/2025/08/02025208/bmenu-monogram.png) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .05;
    z-index: 2
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content .slide-menu-content-holder {
    position: relative;
    padding: 117px 15px 30px;
    height: 100%;
    z-index: 5
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content .slide-menu-content-holder .slide-menu-content-inner {
    position: relative;
    z-index: 5;
    max-width: 1294px;
    margin: 0 auto
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content .slide-menu-content-holder .slide-menu-content-inner .slide-menu-content-inner-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px rgba(118, 118, 118, .24)
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content .slide-menu-content-holder .close-burger-menu {
    font-size: 20px;
    color: #cf0000;
    position: absolute;
    top: 25px;
    right: 45px;
    padding: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    z-index: 12
}

.site-offcanvas .slide-menu-content .slide-menu-inner-content .slide-menu-content-holder .close-burger-menu:hover {
    color: #fff
}

.b-menu {
    margin-top: 0;
    padding: 33px 0;
    width: 50%
}

.b-menu .menu-burger-menu-container {
    max-width: 504px;
    margin: 0 auto
}

.b-menu .menu-burger-menu-container ul#slidenav {
    font-size: 0;
    -moz-column-count: 2;
    column-count: 2;
    margin-right: -116px
}

.b-menu .menu-burger-menu-container ul#slidenav>li {
    margin-bottom: 23px;
    position: relative;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column
}

.b-menu .menu-burger-menu-container ul#slidenav>li:nth-child(4) {
    margin-bottom: 130px
}

.b-menu .menu-burger-menu-container ul#slidenav>li>a {
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: var(--font-family-title);
    letter-spacing: .2em;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    position: relative
}

.b-menu .menu-burger-menu-container ul#slidenav>li ul.sub-menu a {
    font-size: 15px;
    color: #888;
    font-weight: 500;
    font-family: var(--font-family-title);
    padding: 5px 0;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .1em;
    transition: all .3s ease-in-out
}

.b-menu .menu-burger-menu-container ul#slidenav>li ul.sub-menu ul.sub-menu a a {
    font-size: 13px
}

.b-menu .menu-burger-menu-container ul#slidenav>li ul.sub-menu ul.sub-menu {
    margin-top: 3px;
    padding-left: 21px
}

.b-menu .menu-burger-menu-container ul#slidenav>li ul.sub-menu ul.sub-menu li {
    margin-bottom: -1px
}

.b-menu .menu-burger-menu-container ul#slidenav>li>.sub-menu {
    margin-bottom: 0;
    margin-top: 7px !important
}

.b-menu .menu-burger-menu-container ul#slidenav li a:hover {
    color: #cf0000 !important
}

.b-menu .menu-burger-menu-container ul#slidenav li ul.sub-menu {
    margin-top: 9px;
    margin-left: 0
}

.b-menu .menu-burger-menu-container ul#slidenav li ul.sub-menu li {
    margin-bottom: 0
}

.slide-menu-content-contact-details {
    width: 50%
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner {
    max-width: 530px;
    margin: 0 auto;
    position: relative;
    z-index: 5
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .slider-logo a {
    display: block;
    position: relative;
    max-width: 477px;
    margin: 0 auto
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 55px 0 27px
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-contact span {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    letter-spacing: .05em;
    font-family: var(--font-family-title)
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-contact span a {
    display: block;
    padding: 5px 0;
    color: #fff;
    transition: all .3s ease-in-out
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-contact span a:hover {
    color: #cf0000
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices {
    display: flex;
    flex-wrap: wrap
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list {
    width: 50%;
    margin: 0 0 23px;
    text-align: center
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list .b-menu-offices-list-label {
    font-size: 20px;
    color: #cf0000;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--font-family-title);
    letter-spacing: .1em;
    margin: 0 0 16px
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list .b-menu-offices-list-contact>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 0 0 8px
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list .b-menu-offices-list-contact>div em {
    color: #fff;
    font-size: 15px;
    width: 16px
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list .b-menu-offices-list-contact>div em.ai-font-location-c {
    font-size: 17px
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list .b-menu-offices-list-contact>div span a {
    font-size: 13px;
    color: #aeaeae;
    line-height: 1.4;
    letter-spacing: .05em;
    transition: all .3s ease-in-out
}

.slide-menu-content-contact-details .slide-menu-content-contact-details-inner .b-menu-offices .b-menu-offices-list .b-menu-offices-list-contact>div span a:hover {
    color: #cf0000
}

.slide-menu-content-smi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0
}

.slide-menu-content-smi span {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .3em
}

.slide-menu-content-smi a {
    padding: 5px;
    font-size: 17px;
    color: #fff;
    transition: all .3s ease-in-out
}

.slide-menu-content-smi a:hover {
    color: #cf0000
}

.global-site-title {
    font-size: 100px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: var(--font-family-title);
    letter-spacing: .02em
}

.global-site-title.is-white {
    color: #fff
}

.global-site-title.is-red {
    color: #FF5F05
}

.global-site-title span {
    display: block;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .28em;
    margin-bottom: 14px;
    max-width: -moz-max-content;
    max-width: max-content
}

.global-site-title strong {
    font-weight: 500
}

.global-site-title i {
    position: absolute;
    bottom: -11px;
    right: 0;
    width: 100vw;
    height: 1px;
    background: #ffffff73
}

.global-site-title i:after {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    width: 52px;
    height: 3px;
    background: #FF5F05
}

.global-site-btn a {
    display: flex;
    align-items: center;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 0 26px;
    height: 43px;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--font-family-title);
    color: #FF5F05;
    letter-spacing: .3em
}

.global-site-btn a img {
    margin-left: 18px
}

.slide-icons-wrapper {
    display: none
}

body:not(.home) .slide-icons-wrapper {
    transition: all .3s ease-in-out
}

body[sidebar-active-section=content-office]:not(.home) .slide-icons-wrapper,
body[sidebar-active-section=content-ftr]:not(.home) .slide-icons-wrapper {
    opacity: 0
}

.git-area {
    position: relative;
    background: linear-gradient(90deg, #c2d8e3, #84a9b2);
    overflow: hidden
}

.git-holder {
    max-width: 1600px;
    margin: 0 auto;
    position: relative
}

.git-inner {
    position: relative
}

.git-logos {
    font-size: 0;
    padding: 55px 0 0
}

.git-logos .logo-slider:not(.slick-initialized),
.git-logos .logo-slider .slick-track {
    display: flex;
    justify-content: center;
    align-items: center
}

.git-logos .logo-slider .logo-item {
    padding: 0 50px;
    flex: 0 0 auto
}

.git-logos .logo-slider .logo-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 40px
}

.git-content {
    padding: 196px 188px 146px 160px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end
}

.git-content .git-title-wrap {
    width: 19.1695%;
    padding: 0 0 4px;
    position: relative;
    top: 150px
}

.git-content .git-title-wrap:before {
    content: "";
    position: absolute;
    top: 32px;
    left: -52px;
    width: 1px;
    height: 463px;
    background: #FF5F0573
}

.git-content .git-title-wrap .git-title {
    font-size: 125px;
    text-transform: uppercase;
    font-weight: 200;
    font-family: var(--font-family-title);
    line-height: .8;
    letter-spacing: .02em;
    background: linear-gradient(to right, #FF5F05, #8B2500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 420px;
    transform: rotate(-90deg) translate(-200px);
    transform-origin: top left;
    margin-bottom: 15px;
    position: relative;
    left: -12px
}

.git-content .git-title-wrap .git-title span {
    font-weight: 500;
    display: block
}

.git-content .git-title-wrap .global-site-title span i {
    background: #FF5F0573
}

.git-content .git-form {
    width: 41.0545%
}

.git-content .git-form .global-site-title {
    margin-bottom: 40px
}

.git-content .git-form .global-site-title span {
    padding-top: 23px
}

.git-content .git-form .global-site-title span i {
    top: 0;
    bottom: initial;
    left: 0;
    width: 52px;
    background: transparent
}

.git-content .git-form .global-site-title span i:before {
    top: 0
}

.git-content .git-form .global-site-title span i:after {
    max-width: 100%
}

.git-content .git-form p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    text-align: justify;
    margin-bottom: 30px;
    font-family: var(--font-family-sofia);
    color: #000
}

.git-content .git-form p a {
    color: #000;
    transition: all .3s ease-in-out
}

.git-content .git-form p a:hover {
    color: #FF5F05
}

.git-content .git-form form,
.git-content .git-form .git-fields {
    position: relative
}

.git-content .git-form .git-fields .form-control-wrap {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 6px
}

.git-content .git-form .git-fields .form-control-wrap .wpcf7-form-control-wrap {
    position: relative;
    display: block
}

.git-content .git-form .git-fields .form-control-wrap input,
.git-content .git-form .git-fields .form-control-wrap textarea {
    display: block;
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
    font-family: var(--font-family-title);
    letter-spacing: .13em;
    line-height: 1.6923076923;
    color: #3b3b3b;
    padding: 0;
    text-transform: uppercase
}

.git-content .git-form .git-fields .form-control-wrap textarea {
    resize: none;
    padding-top: 13px;
    height: 119px
}

.git-content .git-form .git-fields .git-submit {
    position: absolute;
    bottom: 17px;
    right: 3px;
    background-color: transparent;
    font-size: 25px;
    color: #FF5F05;
    padding: 0;
    border: none
}

.git-content .git-form .git-fields .git-submit:hover {
    color: #000
}

.git-content .git-form .git-fields .wpcf7-spinner {
    position: absolute;
    bottom: -30px;
    right: 0;
    margin: 0
}

.git-content .git-form .git-fields .gt__submit-btn {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 43px;
    background: #fff;
    font-family: var(--font-family-title);
    font-size: 16px;
    color: #fff;
    line-height: 1;
    letter-spacing: .3em;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    margin: 20px 0 0;
    position: relative;
    outline: none
}

.git-content .git-form .git-fields .gt__submit-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF5F05;
    transition: all .3s ease-in-out
}

.git-content .git-form .git-fields .gt__submit-btn span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px
}

.git-content .git-form .git-fields .gt__submit-btn span i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 28px;
    position: relative
}

.git-content .git-form .git-fields .gt__submit-btn span i:before {
    content: "򰉁";
    font-family: agentimage;
    transform: rotate(38deg);
    font-size: 14px;
    transition: all .3s ease-in-out
}

.git-content .git-form .git-fields .gt__submit-btn span i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://cdn.agentimagehosting.com/ZwEApWI87B7AuA0VQcbb0/2025/08/02025219/btn-icon.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: all .3s ease-in-out
}

.git-content .git-form .git-fields .gt__submit-btn:hover {
    color: #FF5F05
}

.git-content .git-form .git-fields .gt__submit-btn:hover:after {
    width: 0%
}

.git-content .git-form .git-fields .gt__submit-btn:hover span i:before {
    opacity: 0
}

.git-content .git-form .git-fields .field-disclaimer {
    margin-top: 15px
}

.git-content .git-form .git-fields .field-disclaimer .wpcf7-form-control-wrap {
    float: left;
    font-size: 0;
    margin-right: 12px
}

.git-content .git-form .wpcf7 form .wpcf7-response-output {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    margin: 10px auto 0
}

.git-content .git-form .use-floating-validation-tip .wpcf7-not-valid-tip {
    position: absolute;
    width: auto;
    top: 25%
}

.git-content .git-info {
    margin-left: auto;
    margin-bottom: -8px
}

.git-content .git-info .license {
    font-size: 15px;
    letter-spacing: .34em;
    color: #fff;
    font-family: var(--font-family-title);
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 30px
}

.git-content .git-info .smi {
    display: flex;
    flex-flow: row wrap
}

.git-content .git-info .smi a {
    font-size: 24px;
    color: #fff;
    margin: 0 22px;
    transition: color var(--default-transition)
}

.git-content .git-info .smi a:hover {
    color: #FF5F05
}

.git-content .git-info .smi a:first-child {
    margin-left: auto
}

.git-content .git-info .smi a:last-child {
    margin-right: auto
}

.office-area {
    position: relative;
    background-color: #000
}

.office-list-wrap {
    overflow: hidden;
    display: flex;
    flex-flow: row
}

.office-list {
    display: flex;
    flex-flow: row;
    width: 80%
}

.office-list:hover .office-item .item-info {
    opacity: 0;
    visibility: hidden
}

.office-list .office-item {
    position: relative;
    transition: all var(--default-transition);
    width: 25%
}

.office-list .office-item:not(.office-item-heading):hover {
    width: 50%;
    flex: 0 0 auto
}

.office-list .office-item:not(.office-item-heading):hover .item-info {
    opacity: 1;
    visibility: visible
}

.office-list .office-item .item-img {
    position: relative
}

.office-list .office-item .item-img canvas {
    display: block;
    width: 100%;
    height: 655px
}

.office-list .office-item .item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .4;
    transition: opacity var(--default-transition)
}

.office-list .office-item .item-img img[src*="location-1.jpg"] {
    opacity: .5
}

.office-list .office-item .item-info {
    position: absolute;
    bottom: 63px;
    left: 25px;
    color: #fff;
    transition: all var(--default-transition);
    transition-property: opacity, visibility
}

.office-list .office-item .item-info .phone {
    font-size: 15px;
    letter-spacing: .36em;
    font-family: var(--font-family-title);
    margin-bottom: 17px
}

.office-list .office-item .item-info .phone:after {
    content: "";
    display: block;
    width: 52px;
    height: 5px;
    background: #FF5F05;
    margin-top: 12px
}

.office-list .office-item .item-info .phone a {
    color: inherit;
    transition: opacity var(--default-transition)
}

.office-list .office-item .item-info .phone a:hover {
    opacity: .6
}

.office-list .office-item .item-info .address {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4615384615;
    font-family: var(--font-family-sofia)
}

.office-list .office-item .item-info .address a {
    color: inherit;
    transition: opacity var(--default-transition)
}

.office-list .office-item .item-info .address a:hover {
    opacity: .6
}

.office-list .office-item .item-name {
    position: absolute;
    bottom: 67px;
    right: 25px;
    font-size: 43px;
    font-family: var(--font-family-title);
    font-weight: 500;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #fff;
    writing-mode: sideways-lr;
    padding-left: 17px
}

.office-list .office-item .item-name:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 52px;
    background: #FF5F05
}

.office-list.office-list-heading {
    width: 20%
}

.office-list.office-list-heading .office-item {
    width: 100%
}

.office-list.office-list-heading .item-img img {
    -o-object-position: 23.5%;
    object-position: 23.5%
}

.office-list.office-list-heading .office-name {
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--font-family-title);
    line-height: .8;
    letter-spacing: .02em;
    color: #fff;
    transform: rotate(-90deg);
    width: 580px;
    white-space: nowrap;
    left: -220px;
    position: relative;
    top: -250px;
    padding: 0 0 4px
}

.office-list.office-list-heading .office-name span {
    font-weight: 100
}

.office-list.office-list-heading .office-head .global-site-title {
    color: #fff;
    left: 10px;
    position: relative
}

.office-list.office-list-heading .office-head .global-site-title i {
    background: #ffffff73
}

.office-list.office-list-heading .office-before-after {
    max-width: 100%;
    margin: 0 auto
}

.office-list.office-list-heading .office-before-after .img-comp-container {
    border-radius: 0 0 30px;
    overflow: hidden
}

.office-list.office-list-heading .office-head {
    position: absolute;
    left: 128px
}

.office-list.office-list-heading .office-head>div {
    position: relative;
    top: 35px
}

.office-list.office-list-heading .office-head:after {
    content: "";
    position: absolute;
    bottom: -83px;
    left: -22px;
    width: 1px;
    height: 253px;
    background: #fff;
    opacity: .45
}

footer.main-footer {
    position: relative;
    padding: 115px 15px 70px;
    background: #000;
    overflow: hidden
}

.ftr-bg canvas {
    opacity: .5
}

.ftr-bg {
    top: auto;
    bottom: 0
}

.ftr-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: #000;
    background: linear-gradient(to bottom, #000, #0000)
}

.ftr-monogram {
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 1362px;
    height: 1285px
}

.ftr-monogram img {
    width: 100%
}

.ftr-holder {
    max-width: 1414px;
    margin: 0 auto;
    position: relative;
    z-index: 5
}

.ftr-inner {
    display: flex;
    flex-wrap: wrap
}

.ftr-left {
    width: 58.824%
}

.ftr-right {
    width: 41.176%;
    padding: 97px 0 0
}

.ftr-logo a {
    display: block;
    max-width: 700px;
    margin: 0 auto
}

.ftr-nav {
    margin-top: 55px;
    border-top: solid 1px rgba(174, 174, 174, .32);
    border-bottom: solid 1px rgba(174, 174, 174, .32);
    padding: 20px 55px
}

ul.footernav {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

ul.footernav>li>a {
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font-family-title);
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    position: relative;
    pointer-events: auto;
    letter-spacing: .28em
}

ul.footernav li a:hover,
.ftr-smi a:hover {
    color: #FF5F05 !important
}

.ftr-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px
}

.footer-copyright {
    text-align: left
}

.footer-copyright,
.footer-copyright a {
    font-size: 17px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: .1em;
    font-family: var(--font-family-title);
    font-weight: 300;
    transition: all .3s ease-in-out
}

.footer-copyright a:hover {
    color: #FF5F05
}

.footer-copyright a[href="https://www.agentimage.com"] {
    text-decoration: underline !important
}

.ftr-disclaimer {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .025em;
    font-family: var(--font-family-title);
    margin: 72px auto 0;
    text-align: center;
    max-width: 1414px
}

.ftr-disclaimer-logo {
    display: flex;
    align-items: center;
    justify-content: center
}

.ftr-disclaimer-logo img {
    height: auto;
    filter: brightness(0) invert(1)
}

.ftr-logos {
    margin: 70px -15px 0
}

.ftr-logos>div {
    margin-bottom: 0
}

.ftr-logos>div:not(.splide__track) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px
}

.ftr-logos>div img {
    height: auto
}

.ftr-logos.is-initialized .ftrLogos__container-slider__item {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.ftr-right-inner {
    max-width: 470px;
    margin: 0 0 0 auto
}

.ftr-logo {
    margin: 0 auto 80px
}

.ftr-awards-logos {
    margin: 0 auto
}

.ftr-awards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%
}

.ftr-badges {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.ftr-badges img {
    filter: drop-shadow(20px 0px 50px rgba(0, 0, 0, .05));
    max-width: 126px
}

.ftr-badges img:last-child {
    max-width: 92px
}

.ftr-awards-inner {
    display: flex;
    flex-wrap: wrap
}

.ftr-awards img {
    max-width: 159px
}

.ftr-awards.centauri-award {
    width: 13.718%
}

.ftr-awards.usa-awards {
    gap: 95px
}

.ftr-awards.real-trends-awards {
    gap: 23px
}

.ftr-awards.usa-awards img:nth-of-type(1),
.ftr-awards.usa-awards img:nth-of-type(3) {
    max-width: 96px
}

.ftr-awards.usa-awards img:nth-of-type(2) {
    max-width: 100px
}

.ftr-awards.real-trends-awards img {
    max-width: 165px
}

#aios-btt-btn {
    display: none !important
}

.backtotop {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 500
}

.backtotop__button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    outline: 0 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: all .15s;
    box-shadow: 0 0 15px -3px #0000
}

.backtotop__button:hover {
    background-color: #FF5F05;
    color: #fff;
    border-color: #FF5F05
}

.backtotop__button svg {
    width: 32px;
    height: auto
}

